/* .nombreProducto{
    color: red;
}

.imagenProducto{
    width: 15rem;
    
    
}

.precio{
    color: red;
} */
/* --------- PRODUCTOS ------*/
.card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}




/* ------------ HEADER -----------*/
.header h1{
    display: flex;
    justify-content: left;
    color: #005733;
    align-items: center;
}
.header .container-fluid{
    background-color: #006f48;
    padding-left: 20px;
}
.header ul{
    display: flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-style: inherit;
    justify-content: space-around;
    padding: 5px;
}
.header form{
    display: flex;
    justify-content: end;
    width: 350px;
    align-items: center;
}
.header li{
    padding: 5px
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.container-fluid button{
    border-radius: 2rem;
    font-size: 20px;
}
.logo{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 150px;
}
.btn-outline-success{
    background-color:#005733;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.btn-outline-success:hover{
    background-color:#005733;
    color: grey;
}


/* ---- FOOTER ----*/

.footerGrid {  
    display: grid;
    grid-template-columns: repeat(1fr*6);
    grid-template-rows: 0.4fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "footer footer footer footer footer footer"
    "copyright copyright copyright copyright copyright copyright";
}
.footerGrid{
    grid-area: footer;
    width: 100%;
    background-color:#006f48 ;
}
.footer{
    width: 100%;
}
.col {
    width: 190px;
    height: auto;
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}
.titulosFooter{
    margin: 0;
			padding: 0;
			font-family: inherit;
			font-size: 12px;
			line-height: 17px;
			padding: 20px 0px 5px 0px;
			color: white;
			font-weight:bolder;
			text-transform: uppercase;
			letter-spacing: 0.250em;
            text-align: center;
}
.col ul{
    display: block;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}
.col li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
}
.col li:hover {
        color: white;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        transition: 0.1s;
    }
.menuFooter li a{
    text-decoration: none;
			list-style: none;
			color: #999999;
}
.menuFooter li a:hover{
    color: white;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
}
.menuRedes li a{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.formFooter{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.btn-footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 35px;
    background-color: white;
    color: #008037;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    border-color: white;
    border-radius: 0.7rem;
    width: 100px;
}
.btn-footer:hover{
    background-color:#006f48;
    color: white;
}
.copyrightFooter{
    grid-area: copyright;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px;
}
