*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}

  /* Header */
header{
    background-color: #006f48;
}

  /* Carrito y lupa */
.carrito, .lupa{
    font-size: 1.5rem;
}

.contenidoCarrito{
    display: flex;
    flex-direction: column;
}
.titulo{
    color: #006f48;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
    /* Filtro */
.tituloFiltro{
    margin: 20px;
    color: #006f48;
}
.form-select{
    width: 25%;
    margin: 20px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.card-precio{
    color: #006f48;
}
.card-title{
    color: #006f48;
}
.btn-carrito{
    border-color: #fff;
}
.btn-carrito:hover{
    background-color: #fff;    
    border-color: #fff;
}
.fa-cart-shopping{
    color: #fff;
    border-color: #fff;
}
.fa-cart-shopping:hover{
    color: #006f48;
}

.btn-buscador{
    border-color: #fff;
}
.btn-buscador:hover{
    background-color: #fff;    
    border-color: #fff;
}
.fa-magnifying-glass{
    color: #fff;
    border-color: #fff;
}
.fa-magnifying-glass:hover{
    color: #006f48;
}
/* .productosConjuntos{
    display: flex;
    justify-content: center;
} */
.botonVaciarCarrito{
    background-color: red;
    border-color: red;
    color: #fff;
    padding: 10px;
}
.botonVaciarCarrito:hover{
    background-color: #fff;
    border-color: red;
    color: red;
}
.botonPagar{
    background-color: #006f48;
    border-color: #006f48;
    color: #fff;
}
.botonPagar:hover{
    background-color: #fff;
    border-color: #006f48;
    color: #006f48;
}
.botonesCarrito button{
    padding: 10px;
    margin: 5px;
}

/* Productos */
.imgConjuntos{
    width: 250px;
}
/* Botones */
.btn-agregarCarrito{
    background-color: #006f48;
    border-color: #006f48;
}
.btn-agregarCarrito:hover{
    background-color: #fff;
    border-color: #006f48;
    color: #006f48;
    
}
/* Footer */
.footerGrid {  
    display: grid;
    grid-template-columns: repeat(1fr*6);
    grid-template-rows: 0.4fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "footer footer footer footer footer footer"
    "copyright copyright copyright copyright copyright copyright";
}
.footerGrid{
    grid-area: footer;
    width: 100%;
    background-color:#006f48 ;
}
.footer{
    width: 100%;
}
.col {
    width: 190px;
    height: auto;
    float:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    color: white;
}
.titulosFooter{
    margin: 0;
			padding: 0;
			font-family: inherit;
			font-size: 12px;
			line-height: 17px;
			padding: 20px 0px 5px 0px;
			color: white;
			font-weight:bolder;
			text-transform: uppercase;
			letter-spacing: 0.250em;
            text-align: center;
}
.col ul{
    display: block;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}
.col li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    text-align: center;
}
.col li:hover {
        color: white;
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
    }
.menuFooter li a{
    text-decoration: none;
			list-style: none;
			color: #999999;
}
.menuFooter li a:hover{
    color: white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}
.menuRedes li a{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.formFooter{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.btn-footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 35px;
    background-color: white;
    color: #008037;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    border-color: white;
    border-radius: 0.7rem;
    width: 100px;
}
.btn-footer:hover{
    background-color:#006f48;
    color: white;
}
.copyrightFooter{
    grid-area: copyright;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px;
}

.footer .col h3 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}
.footer .col ul {
    display: block;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}
.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}
.footer .col ul li:hover {
    color: white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}
.menu li a{
    text-decoration: none;
    list-style: none;
    color: #999999;
}
.redes ul li {
    display: inline-block;
    padding-right: 5px;
}
.redes h1{
    text-align: center;
    color: white;
    font-size: larger;
    padding-top: 20px;
}

.redes form{
    padding: 10px;
}


.clear {
    clear: both;
}

@media screen and (max-width: 480px){
    .bannerProductos img{
        width: 400px;
    }

    
}