
.submenu {
    position: relative;
    text-decoration: none;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.agregar-carrito {
    margin:10px 0;
}

.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;   
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}
.button,
button,
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem; 
}
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

.contenedor-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.card-title{
  color: #005733;
}
.card-text{
  color: #005733;
}
.precioProducto{
  color: #005733;
}
.rating{
  color: #005733;
}
.boton-agregar{
  color: #005733;
  border-color: #005733;
}
.container-fluid{
  background-color:#005733;
}
.nav-link{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.fa-cart-shopping{
  color: #fff;
  font-size: 20px;
}
/* .img-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

/* .img-container img{
  width: 300px;
}
.card{
  display: flex;
  justify-content: center;

} */
/* .info-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 */
.promo {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  background: yellow;
  padding: 15px;
  color: black;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
/* .img-container img{
  width: 300px;

  position: relative;
  transition: all 0.5s;
} */